assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
composer.lock
compass
postgresql
cms
framework
assets
themes/simple
themes/express
themes/module_bootstrap
accessibility
translatable
userforms
versionfeed
express